<div class="row">
  <h2>Educacion</h2>
  <div class="col-lg-11">
  <div class="col-lg-1"></div>
    <ul>
      <li>
        <h3>Primer Educacion</h3> - <h4>Año</h4>
      </li>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque eos voluptatum, sunt doloremque perferendis nam expedita explicabo laboriosam amet voluptatem veniam, dicta beatae. Itaque praesentium iste impedit necessitatibus optio recusandae.</p>
    </ul>
    <ul>
      <li>
        <h3>Segunda Educacion</h3> - <h4>Año</h4>
      </li>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque eos voluptatum, sunt doloremque perferendis nam expedita explicabo laboriosam amet voluptatem veniam, dicta beatae. Itaque praesentium iste impedit necessitatibus optio recusandae.</p>
    </ul>
    <ul>
      <li>
        <h3>Tercer Educacion</h3> - <h4>Año</h4>
      </li>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque eos voluptatum, sunt doloremque perferendis nam expedita explicabo laboriosam amet voluptatem veniam, dicta beatae. Itaque praesentium iste impedit necessitatibus optio recusandae.</p>
    </ul>
  </div>


</div>
