/* div{
  display: flex;
  align-items: center;
  justify-content:space-between;
  
} */

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
}

redsoc-icons{
  float: right;
  margin-top: 25px;
}

/* @media (max-width: 575px){
  TRATAR DE ACOMODAR EL HEADER
  }
*/