
.navcontent{
  width: 100%;
  margin: 0 auto;
  font-size: 1.4rem;
}
/* nav{
  width: 100vw;
} */

nav img{
  height: 24px;
}

#logoAP{
  height: 64px;
  width: auto;

}

@media (max-width:477px){
  #YP{
    font-size: 1.1rem;
    /* display: none; */
  }
}

@media (min-width: 650px) {
  .navcontent{
    font-size: 2rem;
  }

  #logoAP{
    height: 72px;
  }

  nav img{
    height: 42px;
  }

}


@media (min-width: 1000px) {
  .navcontent{
    max-width: 1000px;
  }
}



.btn{
  border-width: medium;
  font-weight: bold;
}



/* nav{
  height: 72px;
} */



#YP{
  font-weight: 600;
}