<div class="row">
  <h2>Experiencia laboral</h2>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h3>Primer Trabajo</h3> - <h4>Año</h4>
      </li>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque eos voluptatum, sunt doloremque perferendis nam expedita explicabo laboriosam amet voluptatem veniam, dicta beatae. Itaque praesentium iste impedit necessitatibus optio recusandae.</p>
    </ul>
    <ul>
      <li>
        <h3>Segundo Trabajo</h3> - <h4>Año</h4>
      </li>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque eos voluptatum, sunt doloremque perferendis nam expedita explicabo laboriosam amet voluptatem veniam, dicta beatae. Itaque praesentium iste impedit necessitatibus optio recusandae.</p>
    </ul>
    <ul>
      <li>
        <h3>Tercer Trabajo</h3> - <h4>Año</h4>
      </li>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque eos voluptatum, sunt doloremque perferendis nam expedita explicabo laboriosam amet voluptatem veniam, dicta beatae. Itaque praesentium iste impedit necessitatibus optio recusandae.</p>
    </ul>
  </div>


</div>
