#logoAP{
  height: 100px;
}

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#YP{
  font-family:'Trebuchet MS', sans-serif;
  /* font-family: 'Roboto Slab', serif; */
  font-size: x-large;
  font-weight: 600;
  padding-top: 1rem;
}