<div class="prim">
  <h2 id="titulo">Idiomas
    <app-idiomas-crear></app-idiomas-crear>
  </h2>

  <div class="alinea">
    <ul>
      <li *ngFor="let item of items; index as i">
        <div class="text-center"><circle-progress
          [title]="item.nombre"
          [titleFontWeight]="'bold'"
          [showUnits]="false"
          [showSubtitle]="true"
          [subtitle]="item.nombreReal"
          [subtitleFontSize]="'18'"
          [subtitleFontWeight]="'bold'"
          [percent]="item.porcentaje"
          [radius]="100"
          [outerStrokeWidth]="8"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#ce956c'"
          [innerStrokeColor]="'#D2D2D2'"
          [animation]="true"
          [animationDuration]="300"
          ></circle-progress>
          <button type="button" class="btn btn-danger" *ngIf="isLoggedIn" (click)="delete(item.id)">
            <fa-icon [icon]="['fas','trash']"></fa-icon>
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
