$bg: #e4e4e4;

$primary: #000;
$secondary: #ce956c;
$error: hsl(354, 61%, 45%);
$success: #00b295;
$warn: #fffc31;
$info: #08605f;
$light: #f8f1ff;

$theme-colors: (
    primary: $primary,
    secondary: $secondary,
    dark: $primary,
    success: $success,
    danger: $error,
    warning: $warn,
    info: $info,
    light: $light,
);

