<div class="redes-soc">
    <a href="https://www.facebook.com/Ryuurokuni/"><img id="facebook" src="../../../../assets/img/facebook.png" alt=""></a>
    <a href="https://www.instagram.com/pablin_rod/"><img id="instagram" src="../../../../assets/img/instagram.png" alt=""></a>
    <a href="https://github.com/Ryuurokuni/"><img id="github" src="../../../../assets/img/github.png" alt=""></a>
    <a href="https://www.linkedin.com/in/pablo-andr%C3%A9s-rodriguez-563b00161/"><img id="linkedin" src="../../../../assets/img/linkedin.png" alt=""></a>
    <app-modal-login></app-modal-login>
</div>