<nav class="primario">
  <div class="navcontent d-flex justify-content-between align-items-center px-3">
    <div class="d-flex align-items-center">
      <img
        id="logoAP"
        src="../../../../assets/img/argprog.png"
        alt="Argentina Programa"
      />
      <p id="YP" class="m-0">#YoProgramo</p>
    </div>
    <div class="d-flex gap-2">
      <a href="https://www.facebook.com/Ryuurokuni/" target="_blank"
        ><img id="facebook" src="../../../../assets/img/facebook.png" alt=""
      /></a>
      <a href="https://www.instagram.com/pablin_rod/" target="_blank"
        ><img id="instagram" src="../../../../assets/img/instagram.png" alt=""
      /></a>
      <a href="https://github.com/Ryuurokuni/" target="_blank"
        ><img id="github" src="../../../../assets/img/github.png" alt=""
      /></a>
      <a
        href="https://www.linkedin.com/in/pablo-andr%C3%A9s-rodriguez-563b00161/" target="_blank"
        ><img id="linkedin" src="../../../../assets/img/linkedin.png" alt=""
      /></a>
      <app-modal-login></app-modal-login>
    </div>
  </div>
</nav>
