<div class="row">
  <h2 id="titulo">Skills</h2>
  <div class="text-center col-sm-4 col-md-4 col-lg-4"><circle-progress
    [title]="'Ingles'"
    [showUnits]="false"
    [showSubtitle]="false"
    [percent]="50"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'black'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4"><circle-progress
    [title]="'Skill 1'"
    [showUnits]="false"
    [showSubtitle]="false"
    [percent]="45"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'black'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4"><circle-progress
    [title]="'Skill 1'"
    [showUnits]="false"
    [showSubtitle]="false"
    [percent]="60"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'black'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4"><circle-progress
    [title]="'Skill 1'"
    [showUnits]="false"
    [showSubtitle]="false"
    [percent]="35"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'black'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4"><circle-progress
    [title]="'Skill 1'"
    [showUnits]="false"
    [showSubtitle]="false"
    [percent]="85"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'black'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4"><circle-progress
    [title]="'Skill 1'"
    [showUnits]="false"
    [showSubtitle]="false"
    [percent]="60"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'black'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
  </div>
</div>