<div class="prim">
  <h2 id="titulo">Idiomas
    <app-idiomas-crear></app-idiomas-crear>

  </h2>

  <div class="">
    <ul>
      <li *ngFor="let item of items; index as i">
        <div class="text-center"><circle-progress
          [title]="item.nombre"
          [titleFontWeight]="'bold'"
          [showUnits]="false"
          [showSubtitle]="false"
          [percent]="item.porcentaje"
          [radius]="100"
          [outerStrokeWidth]="8"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#ce956c'"
          [innerStrokeColor]="'#ce956c'"
          [animation]="true"
          [animationDuration]="300"
          ></circle-progress>
          <button type="button" class="btn btn-danger" *ngIf="isLoggedIn" (click)="delete(item.id)">
            <i class="bi bi-trash-fill"></i>
          </button>
        </div>
      </li>
    </ul>
  </div>


</div>
