
/* .row{
  padding: 20px;
}  */

span{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

p{
  margin: 0;
}

#contenedor-acerca-de{
  background-color: #f0defd;
}

#titulo{
  font-weight: bold;
}