<div id="contenedor-acerca-de" class="container">
    <app-nombre-titulo></app-nombre-titulo>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <span>
        <h2 class="text-center">Acerca de mí</h2>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eveniet culpa quas, ab nesciunt, assumenda ducimus earum maxime harum facilis vel laudantium! Perferendis, ratione nobis aliquid odit sint esse suscipit.</p>
      </span>
    </div>
  </div>
