/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
}


html, body {
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
}



.primario {
  background-color: aquamarine;
}