/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


/* *{
  box-sizing: border-box;
  margin: 0;
} */


html, body {
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  /* background-color: whitesmoke; */
}

/* main{
  background-color: white;
} */


.primario {
  /* background-color: aquamarine; */
  /* background-color:  #c76c3f; */
  /* background-color: #bd9476; */
  background-color: #ce956c;
}

.prim{
  background-color: whitesmoke;
  border: solid 1px #ccc;
  margin-bottom: 1.7rem;
  padding: 1rem;
  box-shadow: 1px 4px 5px #2222226b
}

.boton-submit{
  font-family: 'Lato', sans-serif;
  background-color: #ce956c;
  color: black;
  border-color: black;
  border-width: 3px;
}

.boton-submit:hover{
  background-color: rgb(39, 39, 39);
  border-color: rgb(39, 39, 39);
}

.modal-edit-header{
  background-color: #ce956c;
}

.modal-edit-body{
  background-color: whitesmoke;
}

/* .modal-header{
  border-width: 1px;
  border-color: #ce956c;
  border-bottom-style: none;
} */

/* .modal-content{
  border-width: 1px;
  border-color: whitesmoke;
  border-bottom-left-radius: 0;
  box-shadow: 1px 4px 5px #2222226b;
  border-radius: 10px;
} */